<h2>Enter password to access this link</h2>

<%= form_tag(authenticate_private_link_path(params[:slug]), method: :post, class: "mt-4") do %>
  <div class="form-group">
    <% if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
   <% end %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password, nil, class: "form-control") %>
  </div>
  <br>
  <%= submit_tag('Send', class: 'btn btn-primary') %>
<% end %>
