<div class="container mt-4">
  <% if notice.present? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <%= render @link %>

  <div class="card mt-3">
    <div class="card-body">
      <h2 class="card-title">Share this link</h2>
      <p class="card-text"><%= link_to send_to_original_url_url(@link.slug) ,send_to_original_url_url(@link.slug),  class: "btn btn-primary" %></p>
    </div>
  </div>

  <div class="mt-3">
    <%= link_to "Edit this link", edit_link_path(@link), class: "btn btn-warning" %> |
    <%= link_to "Back to links", links_path, class: "btn btn-secondary" %>
  </div>

  <%= button_to "Destroy this link", @link, method: :delete, class: "btn btn-danger mt-3", data: { confirm: 'Are you sure?' } %>
</div>
