<p style="color: green"><%= notice %></p>

<%= render @link %>

<div>
  <h2>Share this link</h2>
  <p><%= link_to @short, @short %></p>

</div>
  <%= link_to "Edit this link", edit_link_path(@link) %> |
  <%= link_to "Back to links", links_path %>

  <%= button_to "Destroy this link", @link, method: :delete %>
</div>
